:root {
    --black: 35, 46, 41;
    --light-black: 66, 87, 83;
	--white: 234, 244, 244;
	--dark-green: 107, 144, 128;
	--old-mid-green: 164, 195, 178;
	--light-green: 204, 227, 222;
	--mid-green: 204, 227, 222;
    /* --black:4, 7, 16;
    --light-black: 7, 13, 32;
	--white: 200, 209, 249;
	--dark-green: 28, 49, 128;
	--old-mid-green: 55, 98, 255;
	--light-green: 128, 154, 252;
	--mid-green: 128, 154, 252; */
    --header-font: 'Oleo Swash';
    --body-font: 'Quicksand';
}

@font-face {
    font-family: 'Oleo Swash';
    src: url('./fonts/OleoScriptSwashCaps-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Oleo Swash';
    src: url('./fonts/OleoScriptSwashCaps-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color:rgb(var(--light-black));
    padding: 0;
}

img {
    pointer-events: none;
}

.wrapper {
    max-width:1400px;
    min-height:100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width:200px;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin:20px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 3px rgb(var(--dark-green));
}

nav li {
    flex:auto;
}

nav button {
    font-family: inherit;
    color:inherit;
    text-transform: uppercase;
    width:100%;
    height:100%;
    padding: 10px;
    cursor: pointer;
    transition:.2s;
    border:none;
    background-color: transparent;
    position: relative;
    z-index: 9;
}

nav button:hover {
    background-color: rgb(var(--mid-green));
}

nav button:active {
    background-color: rgb(var(--old-mid-green));
}

nav button::after {
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height:0%;
    bottom:0;
    left:0;
    background-color: rgb(var(--dark-green));
    transition: .2s;
    z-index: -1;
}

nav button.active::after {
    content: '';
    height:100%;
}

nav button.active {
    color:rgb(var(--white));
}

main {
    flex:auto;
}

main button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

main button:hover {
    translate: -3px -3px;
    box-shadow: 3px 3px 10px rgba(var(--black), .5);
}

main button:active {
    translate: 0px 0px;
    box-shadow: none;
}

.hero {
    /* background-color: rgb(var(--mid-green)); */
    background-color: rgb(var(--dark-green));
    color: rgb(var(--white)); /*new*/
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: end;
}


.hero-inner {
    font-size: 1.3rem;
    max-width: 45ch;
    width: max-content;
    min-height:500px;
    padding:20px;
    margin: 40px;
    z-index: 1;
    justify-self: center;
}

.hero-inner p:first-child {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.hero-inner p:last-child {
    max-width: 35ch;
    padding: 10px;
    /* box-shadow: 5px 5px 5px rgb(var(--dark-green));
    background-color: rgba(var(--white),1); */
    box-shadow: 5px 5px 5px rgba(var(--black),.5);
    background-color: rgba(var(--white),1);
    color: rgb(var(--black));
}

.hero h2 {
    font-family: var(--header-font);
    font-weight: normal;
    font-size: 3rem;
}

.hero button {
    /* background-color: rgb(var(--light-black));
    color: rgb(var(--white)); */
    background-color: rgb(var(--light-green));
    color: rgb(var(--black));
}

.highlight {
	/* text-shadow: 0.5ch 0.5ch 5px rgb(var(--dark-green)); */
	text-shadow: 0.5ch 0.5ch 5px rgba(var(--black),.75);
}

.ice-cream-container {
    position: relative;
    min-width: 350px;
    flex:auto;
    bottom:0;
}

.ice-cream {
    position: absolute;
    top: 0;
    /* left:0; */
    right: 25%;
    /* filter: drop-shadow(8px 10px 7.5px rgb(var(--dark-green))); */
    filter: drop-shadow(8px 10px 7.5px rgb(var(--black)));
    object-fit: cover;
    width: 100%;
    min-height: 580px;
    z-index: 0;
    padding-top:10px;
}

.ad-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sundae {
    height:150px;
    position: relative;
    filter: drop-shadow(8px 10px 7.5px rgba(var(--black),.5));
}

.charity-container {
    background-color: rgb(var(--light-black));
    color:rgb(var(--white));
    display: flex;
}

.charity-container button {
    color: rgb(var(--black));
    background-color: rgb(var(--white));
}

.kid {
    max-width: 50%;
    object-fit: cover;
}

.charity-copy {
    padding: 20px;
    margin:10px;
    width: 75%;
    object-fit: contain;
}

.mailing-list-wrapper {
    display: flex;
    justify-content: center;
    background-color: rgb(var(--old-mid-green));
    padding: 50px;
}

.mailing-list-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mailing-list-container p {
    font-weight:bold;
    font-size: 1.2rem;
}

.email-input {
    padding:10px;
    text-align: center;
    width: minmax(50%, 80%);
    border-radius: 0;
    border: solid 1px rgb(var(--light-black));
}


.email-submit {
    border-radius: 0;
    text-transform: uppercase;
    background-color: rgb(var(--light-black));
    color: rgb(var(--white));
}
.email-submit:hover {
    background-color: rgb(var(--dark-green));
    translate: none;
    box-shadow: none;
}
.email-submit:active {
    background-color: rgb(var(--light-black));
}

.page-wrapper header {
    background-color: rgb(var(--dark-green));
}

.page-wrapper h2 {
    /* font-family: var(--header-font); */
    color: rgb(var(--white));
    font-size: 2.5rem;
}

.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:30px;
    justify-items: center;
    padding: 20px;
}

.flavor-container {
    transition: .2s;
    position: relative;
}

.flavor-container:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(var(--black),.5);
}

.card-container img {
    width:250px;
}

.pic-container {
    height:250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sundae-pic::before {
    content: 'NEW';
    position: absolute;
    top:10px;
    width: 70px;
    height: 30px;
    background-color: rgb(var(--light-black));
    color: rgb(var(--white));
    font-weight: bold;
    display: flex;
    padding-right: 10px;
    justify-content: end;
    align-items: center;
    box-shadow: 5px 2px 5px rgba(var(--black), .5);
}

.sundae-pic img {
    width: 200px;
}

.sundae-pic .pic-container {
    background: rgb(168,168,213);
    background: radial-gradient(circle, rgb(179, 179, 218) 31%, rgba(143,143,182,1) 100%);
}

.card-container figcaption {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
}






footer {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap:20px
}

.socials, .links {
    display: flex;
    justify-content: center;
    gap:20px;
}

footer a {
    color:rgb(var(--black));
    text-decoration: none;
    transition: .2s;
}

footer a:hover {
    color: rgb(var(--light-black));
}

.links a:hover {
    text-decoration: underline;
}