:root {
    --black: 35, 46, 41;
    --light-black: 66, 87, 83;
	--white: 234, 244, 244;
	--dark-green: 107, 144, 128;
	--old-mid-green: 164, 195, 178;
	--light-green: 204, 227, 222;
	--mid-green: 204, 227, 222;
    --header-font: 'Oleo Swash';
    --body-font: 'Quicksand';
}

@font-face {
    font-family: 'Oleo Swash';
    src: url('./fonts/OleoScriptSwashCaps-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Oleo Swash';
    src: url('./fonts/OleoScriptSwashCaps-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    /* border:solid 1px; */
}

body {
    font-family: var(--body-font);
    color:rgb(var(--light-black));
    padding: 0;
}

.wrapper {
    max-width:1200px;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width:200px;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(var(--mid-green)); */
    border-bottom: solid 3px rgb(var(--dark-green));
}

nav li {
    flex:auto
}

nav button {
    font-family: inherit;
    color:inherit;
    text-transform: uppercase;
    width:100%;
    height:100%;
    padding: 10px;
    cursor: pointer;
    transition:.2s;
    border:none;
    background-color: transparent;
    position: relative;
    z-index: 9;
}

nav button:hover {
    background-color: rgb(var(--mid-green));
}

nav button:active {
    opacity: .6;
}

nav button::after {
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height:0%;
    bottom:0;
    left:0;
    background-color: rgb(var(--dark-green));
    transition: .2s;
    z-index: -1;
}

nav button.active::after {
    content: '';
    height:100%;
}

nav button.active {
    color:rgb(var(--white));
}